.footer-container {
  background-color: white;
  
  overflow-x: hidden;

  box-shadow: 0px -1px 2px -1px var(--orange);
  padding-top: 2%;
}

.separacion{
  float: right;
  background-color: var(--orange);
  border:         none;
  border-left:    1px solid var(--orange);
  height:         50px;
  width:          1px;   
  padding: 0%;
}