.input-text{
    color:var(--orange);
    text-align: center;
    margin-top: 10%;
}
.slogan{
    margin-top: -5%;
}
.input input{
    border-radius: 30px;
    height: 95%;

}
.input{
    margin-top: 5%;
    margin-bottom: 25%;
}
.fa-search{
    padding: 2%;
    color: white;
font-size: 27px;
position: absolute;
left: 92.3%;
margin-top: -62px;
background-color: var(--orange);
border-radius: 50%;
height: 95%;
width: 7%;
box-shadow: -1px 0px 7px -3px black;
}
.fa-search:hover{
    color: gray;

    cursor: pointer;

}


.fondo-input{
    background-color: var(--orange);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 3%;
}
.fondo-input input{
    width: 98%;
}
.icon-search{
    color: var(--orange);
font-size: 20px;
position: absolute;
left: 93%;
margin-top: -38px;
}
.icon-search{
    color: gray;
    cursor: pointer;
    font-size: 27px;
    margin-top: -43px;

}
.products{
    padding-bottom: 5%;
}
.card{
    padding: 2%;
    margin-left: 3%;

    margin-top: .7%;
}
.fa-plus{
    color: var(--orange);
    position: absolute;
    padding-left: 75%;
    margin-top: -7%;
    cursor: pointer;

}
.filter{ 
    padding-top: 2%;
    box-shadow: 1px 1px 2px 1px var(--orange);
    max-height: 350px;
}
.filter .btn{
    margin-left: 40%;
    margin-top: 200px;
}
.price{
    width: 90%;
    font-size: .9em;
  
}
.div-price{
    font-size: .7em;
   height: 10%;
}
.div-price .col-md-1{
    margin-top: 5%;
   
}