
.register{
    background-color:white;
    border-radius: 15px;
    padding: 3%;
    box-shadow: 2px 2px 2px 2px var(--orange);
    margin-bottom: 20%;
    color:black;
}
.boton-register{
    background: var(--orange);
    color:white;
    
}